<!--
    Autor: Laura Cercas Ramos
    Proyecto: TFM Integración Continua con GitHub Actions
    Fecha: 04/06/2024
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>FichasPeliculasApp | Aplicación de gestión de fichas de películas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container mb-5">

    <div class="card">
        <h2 th:text="'Listado Actores'" class="card-header"></h2>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Identificador</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col">Pais</th>
                    <th scope="col">Editar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="actor : ${actors}">
                    <td th:text="${actor.id}"></td>
                    <td th:text="${actor.name}"></td>
                    <td th:text="${#dates.format(actor.birthDate, 'dd-MM-yyyy')}"></td>
                    <td th:text="${actor.country}"></td>
                    <td>
                        <a th:href="@{'/editActor/' + ${actor.id}}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <a th:href="@{/}" class="btn btn-primary">Volver a la Página de Inicio</a>
    <hr>
</div> <!-- /container -->
</body>
</html>